 /* Navbar */
 @media(max-width: 500px){
  #navbar{flex-direction: column; overflow: hidden;}
 #services{
  flex-direction: column;
 }
 #navbar .logo {
  margin-bottom: 1.5rem;
  
 }


 #navbar ul li {
  text-align: center;
  margin-bottom: 10px;
  
 }


 
 #services i{
  color: #333;
  background-color: #3AB0FF;
  border-radius: 50%;
  font-size: 2rem;
  padding: 1rem;
  margin: 2vw;
 }


  .box h3{
    font-family: 'Roboto';
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
   }

   .box p{
    font-family: 'Roboto';
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #who{
    text-align: center;
    display:flex;
    flex-direction: column-reverse;
    min-height: 450px;
    

  }
  #team p {
    text-align: center;
  
  }

  #team ul{
    padding-left: 0;
  }

#img{
  max-height: 0;
 
}
#companies{
  flex-direction: column;
  justify-content: space-between;
  line-height: 10rem;
}
#form_map .container{
  display: flex;
  flex-direction: column;
  

}
form{
    
  margin-left: 1rem;
  margin-right: 0rem;
 }
 form input{

  width: 20rem;
  height: 2rem;
 margin-bottom: 1rem;
 margin-top: 0.25rem;
 border: gainsboro 1px solid;
 border-radius: 5px;
 font-family: 'Roboto';
 
 }

 form label{

  color: white;
  font-family: 'Roboto';
  margin-top: 4rem;
 }
 form textarea{
  width: 20rem;
  margin-bottom: 1rem;
 border: gainsboro 1px solid;
 border-radius: 5px;
 height: 4rem;
 margin-top: 0.25rem;

 }
 form button{
  width: 20rem;
  height: 2rem;
 margin-bottom: 1rem;
 margin-top: 0.25rem;
 background-color: #333;
 font-family: 'Roboto';
 color:white ;
 
 }

 #special{
  text-align: center;
 }

 #footer{
  font-size: O.75rem;
 }
}

